#Category {
  padding: 150px 0;

  .category {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  h1 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 28px;
    color: #777;
    margin-top: 40px;
  }
}
